.header{
    height: 75px;
    background-color: #060606;
    padding-top: 10;
    display: flex;
    justify-content: space-between;
}
 
/* left column designs */
.header > .left-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin-left: 12px;
}
 
.header > .left-column > .logo img{
    filter: invert(100%);
    width: 180px;
}

/* this is the part between the logo and the buttons on the right */
.left-column > .nav-bar{
    color: #ffed93;
    /* this only affects the EXPLORE */
    font-size: 1em;
    padding-left: 40px;
}

.left-column > .nav-bar > .explore{
    font-size: .9em;
    letter-spacing: .1;
    font-weight: 500;
}
 
.nav-bar > .nav{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
}
 
.nav-bar > .nav > .nav-link a{
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 900;
}
 
.nav-bar > .nav > .dropdown-menu{
    color: rgba(225, 225, 225, 80%);
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-family: Tahoma, Sans-Serif;
    letter-spacing: 0;
    font-size: 1.15em;
}

/* the down chevron after Spark */
.nav > .dropdown-menu::after{
    font-family: "Font Awesome 6 Free";
    content: " \f078";
    font-weight: 900;
    padding-left: 13px;
    font-size: 0.75em;
    color: rgba(225, 225, 225, 85%);
 
}

/* right-column styles start here */
.header > .right-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 420px;
    margin-right: 10px;
}
 
.right-column button{
    background-color: #3d3e45;
    font-size: 1.11em;
    font-weight: 600;
}

/* down chevron after create */
.right-column > .dropdown-menu button::after{
    font-family: "Font Awesome 6 Free";
    content: " \f078";
    font-weight: 900;
    padding-left: 5px;
    color: #6bd37b;
    font-size: 1.2em;
}

.right-column > .search-img i{
    font-size: 2em;
    color:#878a97;
    padding: 0px 12px;
}
