.header{
    height: 75px;
    background-color: #060606;
    margin: -8px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family:'Lato', Sans-Serif;
    letter-spacing: -1; 
    /* font-family:'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif; */

}
 
a{
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}
 
button{
    color: inherit;
    border: none;
    border-radius: 3px;
    padding: 13px 20px;
}
 
.header > .left-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin-left: 7px;
}
 
.header > .left-column > .logo img{
    filter: invert(100%);
    width: 180px;
}
 
.nav-bar{
    color: #F4E184;
    font-size: 1em;
    padding-left: 40px;
    margin-top: -10px;
}
 
.nav-bar > .nav{
    display: flex;
    flex-direction: row;
}
 
.nav-bar > .nav > .nav-link{
    padding-right: 15px;
}
 
.nav-bar > .nav > .nav-link a{
    color: white;
    text-decoration: none;
    font-size: 1.28em;
    font-weight: 600;
}
 
.nav-bar > .nav > .dropdown-menu{
    color: #C1C1C1;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-family: Tahoma, Sans-Serif;
    letter-spacing: 0;
    font-size: 1em;
}
 
.nav-bar > .nav > .dropdown-menu a{
    text-decoration: none;
    font-size: 1.2em;
 
}
 
.nav > .dropdown-menu::after{
    font-family: "Font Awesome 6 Free";
    content: " \f078";
    font-weight: 900;
    padding-left: 5px;
 
}

.right-column > .dropdown-menu button::after{
    font-family: "Font Awesome 6 Free";
    content: " \f078";
    font-weight: 900;
    padding-left: 5px;
}
 
.header > .right-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 410px;
    margin-right: 10px;
}
 
.right-column button{
    background-color: #44454E;
    /* margin: 0px 6px; */
    font-size: 1.2em;
    font-weight: 600;
    width: fit-content;
}

.right-column > .search-img i{
    font-size: 2em;
    color: #8F90A0;
    padding: 0px 7px;
}
