.header{
    height: 80px;
    background-color: #060606;
    margin: -8px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
 
/* left column designs */
.header > .left-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin-left: 20px;
}
 
.header > .left-column > .logo img{
    filter: invert(100%);
    width: 180px;
}
 
.left-column > .nav-bar{
    color: #ffed93;
    /* this only affects the EXPLORE */
    font-size: 1em;
    padding-left: 40px;
}

.left-column > .nav-bar > .explore{
    font-size: .9em;
    letter-spacing: .1;
    font-weight: 600;
    margin-bottom: -3px;
}
 
.nav-bar > .nav{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
}
 
.nav-bar > .nav > .nav-link a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 900;
}
 
.nav-bar > .nav > .dropdown-menu{
    color: #cacaca;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-family: Tahoma, Sans-Serif;
    letter-spacing: 0;
    font-size: 1.15em;
}

/* the down chevron after Spark */
.nav > .dropdown-menu::after{
    font-family: "Font Awesome 6 Free";
    content: " \f078";
    font-weight: 900;
    padding-left: 13px;
    font-size: 0.75em;
    color: #cacaca;
 
}

/* right-column styles start here */
.header > .right-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 410px;
    margin-right: 8px;
}
 
.right-column button{
    background-color: #45454e;
    font-size: 1.15em;
    font-weight: 600;
}

/* down chevron after create */
.right-column > .dropdown-menu button::after{
    font-family: "Font Awesome 6 Free";
    content: " \f078";
    font-weight: 900;
    padding-left: 5px;
    color: rgb(79, 216, 120);
    font-size: 1.2em;
}

.right-column > .search-img i{
    font-size: 2em;
    color: #8f8fa3;
    padding: 0px 12px;
}
